html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    background-attachment: fixed;
}

/* Hero section */

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    height: 95vh;
}

.left-side {
    width: 40vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: transparent;
}

.right-side {
    width: 60vw;
    height: 100vh;
    left: 40vw;
    z-index: 1;
    background: transparent;
}

.hero-img {
    width: 50%;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    text-align: center;
}

.margin-top {
    margin-top: 50vh;
    transform: translate(0, -50%);
}

.side-margin {
    margin-left: 40%;
}

.highlight {
    background: linear-gradient(to right, #00f, #ff00ff);
    -webkit-background-clip: text;
    color: transparent;
}

.big-font {
    font-size: 5em;
    padding: 0px;
    margin: 0;
}

.about-text {
    font-size: 1.5em;
    margin: 10px;
    padding-bottom: 10px;
    color: darkgray;
}

.buttons {
    margin-top: 20px;
}

.button-hire {
    background: linear-gradient(to right, #ff00ff, #00f);
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background 1s ease-in-out; /* Adjusted duration to 1 second */
    margin-right: 10px;
    display: inline-block;
}

.button-hire:hover {
    background: linear-gradient(to right, #00f, #ff00ff);
}

.button-cv {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color 1s ease-in-out;
    margin-right: 10px;
}

.button-cv::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(to right, #00f, #ff00ff);
    z-index: -1;
    border-radius: 25px;
    transition: background 1s ease-in-out;
}

.button-cv:hover::before {
    background: linear-gradient(to right, #ff00ff, #00f);
}

.button-cv::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #201e2d;
    border-radius: 23px;
    z-index: -1;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.type-container {
    display: inline-block;
}


/* Information section */

.information-section {
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%; /* Adjust width as needed */
    gap: 30px; /* Gap between boxes */
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.item {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-weight: bold;
}

.glas {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.item1 {
    border: 2px solid #333;
    background-image: url("./images/bg.png");
    background-size: cover;
    width: calc(66.66% - 40px);
    height: 200px;
    position: relative;
}

.about-me-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80%;
}

.item2 {
    width: calc(33.33% - 61px); /* Takes up one-third of the container width */
    border: 2px solid #333;
    height: 200px;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.info-small-text {
    color:#8e8e8e;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tech-stack div {
    background-color: #2e2e3a;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.tech-stack div i {
    margin-right: 5px;
    flex-direction: column;
}

.tech-stack-text {
    padding: 0;
    margin: 0;
}

.nested-container {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 30px); /* Takes up one-third of the container width */
    gap: 30px;
}

.item3 {
    height: calc(50% - 30px); /* Takes up half of the nested container height */
    width: 100%;
    position: relative;
    border: 2px solid #333;
    padding: 30px;
}

.app-img {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.item4 {
    background-color: #33cfff; /* Blue */
    height: calc(50% - 5px); /* Takes up half of the nested container height */
    background-image: url(./images/fade-purple.jpg);
    background-size: cover;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.item5 {
    border: 2px solid #333;
    width: calc(66.66% - 70px); /* Takes up two-thirds of the container width */
    height: calc(400px + 30px); /* Combined height of item3 and item4 + gap */
    margin-left: 60px;
    position: relative;
    display: block;
    background-image: url("./images/grid.svg");
    background-size: cover;
}

.scope-text {
    max-width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}

.code-bg {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 50%;
}

.button {
    display: flex; /* Use flexbox for the button content */
    align-items: center; /* Vertically align the image and text */
    gap: 10px; /* Space between the image and text */
    margin-top: 10px;
    padding: 10px 30px 10px 30px;
    background-color: #222;
    color: white;
    border: 2px solid #c35ad3;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

.copy-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.info-big-font {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.confetti-gif {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -60px;
    right: 10px;
    pointer-events: none;
}
